*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background: linear-gradient(to bottom, #fde8ed, #d484df);
    background-attachment: fixed;
    font-family: sans-serif;
    position: relative;
    overflow-x: hidden;
}

.bolha {
  position: absolute;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.4);
  pointer-events: none;
  animation: subir 5s infinite ease-in;
}

.bolha:nth-child(1) {
  width: 40px;
  height: 40px;
  left: 10%;
  animation-duration: 7s;
  animation-delay: 0s;
  color: #5dcb80;
}

.bolha:nth-child(2) {
  width: 20px;
  height: 20px;
  left: 25%;
  animation-duration: 5s;
  animation-delay: 1s;
}

.bolha:nth-child(3) {
  width: 60px;
  height: 60px;
  left: 60%;
  animation-duration: 9s;
  animation-delay: 0.5s;
}

.bolha:nth-child(4) {
  width: 30px;
  height: 30px;
  left: 80%;
  animation-duration: 6s;
  animation-delay: 2s;
}

@keyframes subir {
  0% {
    bottom: -100px;
    opacity: 0;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    bottom: 100vh;
    opacity: 0;
  }
}

.perfil{
    padding-top: 2%;
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 250px;
    height: auto;
}

.bemvindo{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #f54e8c;
}

.botao-social {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 0 auto 20px;
}

/*botão do insta e whats*/
.instagram,
.whatsapp{
    text-decoration: none;
    color: black;
    padding: 16px 32px;
    border-radius: 10px;
    border: 1px solid black;
}

.instagram{
    background-color: #8a6006;
}

.whatsapp{
    background-color: #5dcb80;
}
.confira{
    font-family: 'Courier New', Courier, monospace;
    color: #d1076c;
    text-align: center;
    padding: 20px;
}

.galeria-grid{
    margin: 0 auto;
    display: grid; /* cria colunas */
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    width: 75%;
    height: 75%;

}

.laco{
    width: 75%; 
    height: 75%; 
    border: 1px solid black;
    border-radius: 10px;
    object-fit: cover;
}
